:root {
  --primary-color-1: hsl(14, 45%, 36%);
  --primary-color-2: hsl(332, 51%, 32%);

  --neutral-color-1: hsl(0, 0%, 100%);
  --neutral-color-2: hsl(330, 100%, 98%);
  --neutral-color-3: hsl(30, 54%, 90%);
  --neutral-color-4: hsl(30, 18%, 87%);
  --neutral-color-5: hsl(30, 10%, 34%);
  --neutral-color-6: hsl(24, 5%, 18%);

  --ff-heading: "Young Serif", serif;
  --ff-sub-heading: "Outfit", sans-serif;
  --ff-body: "Outfit", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--neutral-color-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

main {
  max-width: 45rem;
}

.recipe-article {
  background-color: var(--neutral-color-1);
}

.recipe-article__content {
  padding-inline: 1.85rem;
  padding-block: 2rem;
}

.recipe-header {
  margin-block-end: 2rem;
}

.recipe-header__heading {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: var(--fw-400);
  line-height: 1;
  margin-block-end: 1.5rem;
}

.recipe-header__sub-heading {
  font-family: var(--ff-body);
  color: var(--neutral-color-5);
}

.recipe-details {
  background-color: var(--neutral-color-2);
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  border-radius: 12px;
  margin-block-end: 2rem;
}

.recipe-details__heading {
  color: var(--primary-color-2);
  font-family: var(--ff-sub-heading);
  font-size: 1.25rem;
  margin-block-end: 1.5rem;
}

.recipe-details__list {
  font-family: var(--ff-body);
  display: flex;
  flex-direction: column;
  gap: .85rem;
  padding-inline-start: 1rem;
}

.recipe-details__list-item {
  color: var(--neutral-color-5);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.recipe-details__list-item::before {
  content: "";
  width: .35rem;
  height: .35rem;
  background-color: var(--primary-color-2);
  border-radius: 50%;
}

.recipe-ingredients__heading {
  font-family: var(--ff-heading);
  margin-block-end: 1.5rem;
  color: var(--primary-color-1);
  font-weight: var(--fw-400);
  font-size: 2rem;
}

.recipe-ingredients__list {
  font-family: var(--ff-body);
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding-inline-start: 2rem;
}

.recipe-ingredients__list-item {
  color: var(--neutral-color-5);
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-inline-start: 1rem;
}

.recipe-ingredients__list-item::before {
  content: "";
  width: .3175rem;
  height: .3175rem;
  background-color: var(--neutral-color-5);
  border-radius: 50%;
  position: absolute;
  margin-inline-start: -2rem;
}

.recipe-ingredients__list-item em {
  font-style: normal;
}

.recipe-steps {
  margin-block: 2rem;
}


.recipe-steps::before {
  content: '';
  width: 100%;
  height: .05rem;
  background-color: var(--neutral-color-4);
  display: block;
}

.recipe-steps::after {
  content: '';
  width: 100%;
  height: .05rem;
  background-color: var(--neutral-color-4);
  display: block;
}

.recipe-steps__heading {
  font-family: var(--ff-heading);
  margin-block-start: 1.5rem;
  color: var(--primary-color-1);
  font-weight: var(--fw-400);
  font-size: 2rem;
}


.recipe-steps__list {
  counter-reset: section;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1.5rem;
  padding-inline-start: 2rem;
}

.recipe-steps__list-item {
  font-family: var(--ff-body);
  color: var(--neutral-color-5);
}
.recipe-steps__list-item p {
  margin-inline-start: 1rem;
}

.recipe-steps__list-item em {
  font-style: normal;
  font-weight: var(--fw-700);
}

.recipe-steps__list-item::before {
  content: counter(section) ".";
  counter-increment: section;
  position: absolute;
  margin-inline-start: -1rem;
  font-weight: 700;
  font-family: var(--ff-body);
  color: var(--primary-color-1);
}

.recipe-nutrition-facts__heading {
  font-family: var(--ff-heading);
  margin-block-end: 1.5rem;
  color: var(--primary-color-1);
  font-weight: var(--fw-400);
  font-size: 2rem;
}

.recipe-nutrition-facts__sub-heading {
  color: var(--neutral-color-5);
  font-family: var(--ff-sub-heading);
  margin-block-end: 1rem;
}

.recipe-nutrition-facts__table {
  font-family: var(--ff-body);
  width: 100%;
  border-collapse: collapse;
}

.recipe-nutrition-facts__table tbody tr td {
  border-bottom: 1px solid var(--neutral-color-4);
  padding-block-end: .75rem;
  font-weight: var(--fw-600);
}

.recipe-nutrition-facts__table tbody :not(tr:first-child) {
  padding-block-start: .75rem;
}

.recipe-nutrition-facts__table tbody tr td:nth-child(1) {
  color: var(--neutral-color-5);
  padding-inline-start: 3rem;
}

.recipe-nutrition-facts__table tbody tr td:nth-child(2) {
  color: var(--primary-color-1);
  padding-inline-end: 2rem;

}

@media only screen and (min-width: 64rem) {
  main {
    margin-block: 8rem;
  }

  .recipe-article {
    border-radius: 24px;
  }

  .recipe-article__img {
    padding-inline: 1.85rem;
    padding-block-start: 2rem;
  }

  .recipe-article__img img {
    border-radius: 12px;
  }
}